.containerButton {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginButton {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em; 
    cursor: pointer;
    border: none;
    padding: 0.8em; 
    background-color: black;
    color: white;
    border-radius: 0.3em;
}

.loginButton span {
    font-size: 1.1em;
    font-weight: 600;
}

@media only screen and (max-width: 768px) {
    .loginButton { 
        padding: 0.5em; 
    }
    .loginButton span {
        font-size: 0.8em;
        font-weight: 600;
    }
}