.userProfile {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5em; 
    position: relative;
    cursor: pointer;
}

.avatar {
    border-radius: 50%;
}

.name {
    font-weight: 1.1em;
    font-weight: 600;
}



@media only screen and (max-width: 768px) {
    .userProfile {
        width: 90%;
    }
}